<div class="wrap card shadow-lg">
    <h5>Teams</h5>
    <div class="counter">
        <input class="counter__input" type="text" value="2" name="teamsCounter" size="5" readonly="readonly" /><a
            class="counter__increment" href="#">+</a><a class="counter__decrement" href="#">&ndash;</a>
    </div>
    <br />
    <h5>No. of players</h5>
    <div class="counter">
        <input class="counter__input" type="text" value="3" name="playersCounter" size="5" readonly="readonly" /><a
            class="counter__increment" href="#">+</a><a class="counter__decrement" href="#">&ndash;</a>
    </div>
    <br />
    <div class="container">
    <div class="row name-input-container">
    </div></div>
    <!-- <h5>Players</h5>
    <div class="players-container">
        <input type="text" />
        <input class="counter__input" type="text" value="3" name="playersCounter" size="5" readonly="readonly" /><a
            class="counter__increment" href="#">+</a><a class="counter__decrement" href="#">&ndash;</a>
    </div> -->
    <br />
    <button type="button" class="btn btn-primary" id="begin">Begin</button>

</div>