$blue: #06699e;
$blue: #00a2e8;
$red: #c63873;
$red: #d1597f;
$orange: #da9e79;
$orange: #ff7f27;
$yellow: #d3b22f;
$yellow: #d1a538;
$yellow: #ffc90e;
$dark-blue: #455275;
$green: #2d7742;
$green: #206225;
.modal-content {
    background: rgb(135,149,54);
    background: radial-gradient(circle,rgba(135,149,54,1) 50%,rgba(86,96,46,1) 100%,rgba(19,61,39,1) 100%);
    border: 10px solid #b8373c;
    color: #FFFFFF;
    .modal-body {
        .card-challenge {
            background: #FFFFFF;
            border: 1px solid black;
            display: flex;
            color: black;
            margin: .5rem;
            align-items: center;
            .text {
                padding: 10px;
                border-top-right-radius: .25rem;
                border-bottom-right-radius: .25rem;
                background-color: #FFFFFF;
                width: 90%;
                &.red {
                    color: red;
                }
            }
            .icon {
                width: 10%;
                margin: .25rem;
            }
            &.speak {
                background-color: $blue;
                .icon {
                    content: url('../../img/speak.svg');
                }
            }
            &.speak1 {
                background-color: $dark-blue;
                .icon {
                    content: url('../../img/speak.svg');
                }
            }
            &.mime {
                background-color: $red;
                .icon {
                    content: url('../../img/mime.svg');
                }
            }
            &.mime1 {
                background-color: $orange;
                .icon {
                    content: url('../../img/mime.svg');
                }
            }
            &.draw {
                background-color: $yellow;
                .icon {
                    content: url('../../img/draw.svg');
                }
            }
            &.draw1 {
                background-color: $green;
                .icon {
                    content: url('../../img/draw.svg');
                }
            }
        }
    }
    .modal-footer {
        border-top: none;
        .btn {
            width: 50%;
        }
    }
}
.challenges {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    .challenges--row {
        display: flex;
        width: 100%;
        .challenge {
            width: 25%;
            // height: 3.5rem;
            border: 2px solid;
            margin: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .pawn {
                height: 50%;
                position: absolute;
                top: -10px;
                left: 0;
                &.green {
                    content: url('../../img/pawn_green.svg');
                }
                &.red {
                    content: url('../../img/pawn_red.svg');
                }
                &.yellow {
                    content: url('../../img/pawn_yellow.svg');
                }
                &.blue {
                    content: url('../../img/pawn_blue.svg');
                }
            }
            &.speak {
                background-color: $blue;
                &:before {
                    content: url('../../img/speak.svg');
                    width: 50%;
                }
            }
            &.speak1 {
                background-color: $dark-blue;
                &:before {
                    content: url('../../img/speak.svg');
                    width: 50%;
                }
            }
            &.mime {
                background-color: $red;
                &:before {
                    content: url('../../img/mime.svg');
                    width: 50%;
                }
            }
            &.mime1 {
                background-color: $orange;
                &:before {
                    content: url('../../img/mime.svg');
                    width: 50%;
                }
            }
            &.draw {
                background-color: $yellow;
                &:before {
                    content: url('../../img/draw.svg');
                    width: 50%;
                }
            }
            &.draw1 {
                background-color: $green;
                &:before {
                    content: url('../../img/draw.svg');
                    width: 50%;
                }
            }
        }
        &:nth-child(6n+1), &:nth-child(6n+2) {
            .challenge {
                border-color: pink;
            }
        }
        &:nth-child(3), &:nth-child(4), &:nth-child(9), &:nth-child(10) {
            .challenge {
                border-color: lightblue;
            }
        }
        &:nth-child(5), &:nth-child(6), &:nth-child(11), &:nth-child(12) {
            .challenge {
                border-color: lightyellow;
            }
        }
        &:nth-child(odd) {
            flex-direction: row-reverse;
            .challenge:first-child {
                border-bottom-right-radius: 20px;
            }
            .challenge:last-child {
                border-top-left-radius: 20px;
            }
        }
        &:nth-child(even) {
            .challenge:first-child {
                border-bottom-left-radius: 20px;
            }
            .challenge:last-child {
                border-top-right-radius: 20px;
            }
        }
    }
}
.cards {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .start, .finish {
        height: 3rem;
        width: 3rem;
        position: relative;
        .diamond {
            position: relative;
        }
        .pawn {
            height: 100%;
            position: absolute;
            top: -10px;
            left: -10px;
            transform: rotate(-45deg);
            &.green {
                content: url('../../img/pawn_green.svg');
            }
            &.red {
                content: url('../../img/pawn_red.svg');
            }
            &.yellow {
                content: url('../../img/pawn_yellow.svg');
            }
            &.blue {
                content: url('../../img/pawn_blue.svg');
            }
        }
    }
    .start {
        // margin-bottom: 2rem;
        .diamond-grid {
            border: 3px solid white;
            .diamond-grid--row {
                width: 50%;
                .diamond {
                    height: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
    .finish {
        .diamond-grid {
            border: 3px solid black;
            .diamond-grid--row {
                width: 25%;
                .diamond {
                    height: 25%;
                }
            }
        }
    }
    .points {
        cursor: pointer;
        height: 6rem;
        width: 4rem;
        font-size: 4rem;
        -webkit-text-stroke: 2px black;
        color: #ffc90e;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(135,149,54);
        background: radial-gradient(circle,rgba(135,149,54,1) 50%,rgba(19,61,39,1) 100%,rgba(19,61,39,1) 100%);
        border: 6px solid white;
        font-weight: bolder;
        border-radius: .25rem;
        margin-top: 1rem;
    }
}
.arrow {
    width: 3rem;
    height: 3rem;
    position: absolute;
    display: inline-block;
    left: -2rem;
    &:before, &:after {
        content: '';
        border-color: transparent;
        border-style: solid;
        position: absolute;
    }
    &.arrow-left, &.arrow-right {
        &:before {
            border: none;
            background-color: #ffc90e;
            height: 30%;
            width: 50%;
            top: 35%;
        }
        &:after {
            top: 0;
            border-width: 1.5rem 1.5rem;
        }
    }
    &.arrow-left {
        &:before {
            left: 50%;
        }
        &:after {
            left: -50%;
            border-right-color: #ffc90e;
        }
    }
    &.arrow-right {
        z-index: 11;
        &:before {
            left: 0;
        }
        &:after {
            left: 50%;
            border-left-color: #ffc90e;
        }
    }
}
.diamond-grid {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    // transform: rotate(45deg);
    // margin: 2px;
    z-index: 10;
    &:before {
        content: " ";
        position: absolute;
        z-index: -1;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border: 5px solid black;
    }
    .diamond-grid--row {
        .diamond {
            width: 100%;
            &.blue {
                background-color: $blue;
                border: 0.5px solid cadetblue;
            }
            &.green {
                background-color: $green;
                border: 0.5px solid green;
            }
            &.red {
                background-color: $red;
                border: 0.5px solid pink;
            }
            &.yellow {
                background-color: $yellow;
                border: 0.5px solid yellow;
            }
            &.white {
                background-color: white;
            }
            &.black {
                background-color: black;
            }
        }
    }
}
.current-player {
    color: #FFFFFF;
}